<!-- <ion-header [translucent]="true"> -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Broadcast Msg
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">bMesh</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <ion-list lines="none">
      <ion-item *ngFor="let chat of chats">
        <ion-label *ngIf="chat.userId;else selfMessage">
          <p><strong>{{chat.userId}}:</strong>&nbsp;{{chat.message}}</p>
        </ion-label>
        <ng-template #selfMessage>
          <ion-label slot="end">
            <p class='ion-text-end'>{{chat.message}}</p>
          </ion-label>
        </ng-template>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="send-sharp" (click)="sendChat()"></ion-icon>
    </ion-buttons>
    <ion-input [(ngModel)]="userChat"></ion-input>
  </ion-toolbar>
</ion-footer>